body {
  font-size:12px;
}

h1 {
  width: 100%;
  font-size: 2em;
  text-align:center;
  margin:auto;
  display: block;
  background-color: grey;
}

p {
  text-align:left;
  color: black;
  font-weight: bold;
  margin-bottom:5px;
  background-color: lightgrey;
}

@media screen and (min-width:1080px) {
  body{
    font-size: 1em;
  }
}

@media screen and (min-width:800px) and (max-width:1079px) {
  body{
    font-size: 2em;
  }
}
@media screen and (max-width:799px) {
  body{
    font-size: 3em;
  }
}

