body {
  width: 100vw;
  height: 100vh;
}

.contenedor {
  width:90%;
  margin:auto;
  background-color: lightgrey;
}

.interior{
  background-image: url("./foto1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: goldenrod;
  margin: auto;
  border: 4px solid white;
  width: 80%;
  height: 600px;
  color:white;
}
